<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modifySatellites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">modifySatellites</ion-title>
    </ion-toolbar>
  </ion-header>



  <div>
    <ion-button (click)="goBack()" expand="block" fill="clear" shape="round">
      volver
    </ion-button>
    <h3>Lunas del planeta {{planet.name}}</h3>
    <ion-item *ngFor="let sat of satellites">
      <label *ngIf="sat.length != 0">
        <h2>{{ sat.name }}</h2>
        <p>composición: {{ sat.composition }}</p>
        <ion-button block color="primary" (click)="deleteSatellite(sat.id, planet.id)">eliminar</ion-button>
        <ion-button block color="primary" (click)="updateSatellite(sat)">actualizar</ion-button>
      </label>
    </ion-item>

    <div *ngIf="showMessageNoSat">
      no hay lunas para esta planeta
    </div>
  </div>

</ion-content>