ion-list,
ion-item {
    --ion-item-background: rgba(30, 30, 30, 0.4);
}

ion-title {
    text-align: center;
}

#header-toolbar>div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#header-toolbar>div>a {
    background-color: #2059bb;
    padding-right: 5px;
    margin-right: 1rem;
    display: flex;
    text-align: center;
    border-radius: 50%;

    &:hover {
        background-color: #1a4794;
    }

    &:active {
        background-color: #0e254e;
    }
}

#header-toolbar>div>a>ion-icon {
    color: #fff;
    font-size: 3rem;
}

.image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.image-form-container {
    width: 50%;
}

.image-form-buttons {
    margin-top: 1rem;
}

#container {
    text-align: center;
    --background: none;
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &#container p {
        font-size: 16px;
        line-height: 22px;
        color: #8c8c8c;
        margin: 0;
    }
}

.satellite-items {
    padding-right: 0;
}

.satellite-items>label {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.satellite-items>label>div:first-child>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.satellite-items>label>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.satellite-items>label>div:first-child>* {
    margin: 0;
}

.satellite-items>label>div:first-child>ion-button {
    width: 50%;
    margin-top: 0.5rem;
}

.edit-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    &.edit-buttons>div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &.edit-buttons>ion-button {
        margin-right: 1rem;
    }

    &.edit-buttons>div>ion-icon {
        font-size: 2rem;

        &:hover {
            color: #8c8c8c;
        }

        &:active {
            color: #636363;
        }
    }
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

@media only screen and (min-width: 640px) {

    .image-form {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
    }

    .image-form-container {
        width: 40%;
    }

    .image-form-buttons {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) {

    .image-form-container {
        width: 30%;
    }

    #satellite-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .satellite-items {
        width: 90%;
    }

    .satellite-items>label>div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .satellite-items>label>div:first-child>div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
    }

    .satellite-items>label>div:first-child>* {
        margin: 0;
    }

    .satellite-items>label>div:first-child>ion-button {
        width: 25%;
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 992px) {

    #satellite-content {
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;

        .satellite-items {
            width: 60%;
        }
    }
}

@media only screen and (min-width: 1200px) {

    .image-form-container {
        width: 25%;
    }

    ion-list,
    ion-item {
        --ion-item-background: rgba(30, 30, 30, 0.6);
    }

    #satellite-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #satellite-content {
        width: 90%;
    }
}