<ion-header [translucent]="true">
  <ion-toolbar id="header-toolbar">
    <div>
      <ion-title>Modificación de satélites</ion-title>
      <a href="/planet-list">
        <ion-icon name="caret-back-outline"></ion-icon>
      </a>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="container">

  <form [formGroup]="satelliteForm" (ngSubmit)="addSatellite()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" type="text" aria-label="Name" id="name"></ion-input>
    </ion-item>
    <div *ngIf="this.satelliteForm.controls?.['name'].touched && this.satelliteForm.controls?.['name'].invalid">
      <div class="error ion-padding" *ngIf="this.satelliteForm.controls?.['name'].errors?.['required']">
        <ion-text color="danger">Nombre requerido.</ion-text>
      </div>
      <div class="error ion-padding" color="danger" *ngIf="this.satelliteForm.controls?.['name'].errors?.['minlength']">
        <ion-text color="danger">El nombre debe ser minimo de dos letras</ion-text>
      </div>
      <div class="error ion-padding" color="danger" *ngIf="this.satelliteForm.controls?.['name'].errors?.['maxlength']">
        <ion-text color="danger">El nombre no puede tener más de 50 caracteres</ion-text>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Composición</ion-label>
      <ion-input formControlName="composition" type="text" aria-label="Composition" id="composition"></ion-input>
    </ion-item>
    <div
      *ngIf="this.satelliteForm.controls?.['composition'].touched && this.satelliteForm.controls?.['composition'].invalid">
      <div class="error ion-padding" *ngIf="this.satelliteForm.controls?.['composition'].errors?.['required']">
        <ion-text color="danger">composición de elementos requerida</ion-text>
      </div>
      <div class="error ion-padding" *ngIf="this.satelliteForm.controls?.['composition'].errors?.['maxlength']">
        <ion-text color="danger">la composición no puede tener más de 200 caracteres</ion-text>
      </div>
      <div class="error ion-padding" *ngIf="this.satelliteForm.controls?.['composition'].errors?.['pattern']">
        <ion-text color="danger">
          El nombre no es válido, la primera letra con mayusculas y las palabras separadas porcomas
        </ion-text>
      </div>
    </div>
    <ion-row>
      <ion-col class="button-container">
        <ion-button color="danger" (click)="clearForm()" *ngIf="showUpdateButtons">No actualizar</ion-button>
        <ion-button type="submit" *ngIf="showAddButton" [disabled]="!this.satelliteForm.valid">Agregar</ion-button>
        <ion-button (click)="updateSatellite()" *ngIf="showUpdateButtons">Actualizar</ion-button>
      </ion-col>
    </ion-row>
  </form>


  <section id="satellite-section">
    <h3>Lunas del planeta {{planet.name}}</h3>
    <div id="satellite-content">
      <ion-item *ngFor="let sat of satellites" class="satellite-items">
        <label *ngIf="sat.length != 0">

          <div>
            <h2>{{ sat.name }}</h2>
            <p>composición: {{ sat.composition }}</p>
          </div>

          <div class="edit-buttons">
            <ion-button (click)="goToChangePanet(sat)" shape="round">
              Cambiar<ion-icon name="planet"></ion-icon>
            </ion-button>
            <div>
              <ion-icon name="trash" (click)="deleteSatellite(sat.id, planet.id)"></ion-icon>
              <ion-icon name="create" (click)="putInfoInForm(sat)"></ion-icon>
            </div>
          </div>
        </label>
      </ion-item>
    </div>
    <div *ngIf="showMessageNoSat">
      no hay lunas para este planeta
    </div>
  </section>

</ion-content>