#container {
  text-align: center;
  top: 3%;

  &#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
}

a {
  text-decoration: none;
}

#anchor-modify-planets {
  text-wrap: nowrap;
  border-radius: 64px;
  padding: 10px 26px;
  background-color: #3880ff;
  color: #fff;

  &:hover {
    background: rgb(36, 91, 186);
  }

  &:active {
    background-color: rgb(25, 62, 126);
  }
}

#list {
  margin-top: 5%;
}

#main-label {
  width: 100%;
}

#planet-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10%;

  &#planet-container>div:first-child {
    width: 10%;
  }
}

.icon {
  width: 100%;
  font-size: 2rem;
}