<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de planetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">planet-list</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="ionicForm" (ngSubmit)="insertPlanet()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name" type="text" aria-label="Name" id="name"></ion-input>
    </ion-item>
    <div *ngIf="this.ionicForm.controls?.['name'].touched && this.ionicForm.controls?.['name'].invalid">
      <div class="ion-padding" *ngIf="this.ionicForm.controls?.name.errors?.required">
        <ion-text color="danger">Nombre requerido.</ion-text>
      </div>
      <div class="ion-padding" color="danger" *ngIf="this.ionicForm.controls?.name.errors?.minlength">
        <ion-text color="danger">El nombre debe ser minimo de dos letras</ion-text>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Composición</ion-label>
      <ion-input formControlName="composition" type="text" aria-label="Composition" id="composition"></ion-input>
    </ion-item>
    <div *ngIf="this.ionicForm.controls?.['composition'].touched && this.ionicForm.controls?.['composition'].invalid">
      <div class="error ion-padding" *ngIf="errorControl.controls?.composition.errors?.required">
        <ion-text color="danger">composición de elementos requerida</ion-text>
      </div>
      <div class="ion-padding" *ngIf="this.ionicForm.controls?.composition.errors?.pattern">
        <ion-text color="danger">
          El nombre no es válido, la primera letra con mayusculas y las palabras separadas porcomas
        </ion-text>
      </div>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" *ngIf="showAddButton">Confirmar</ion-button>
        <ion-button (click)="updateSatellite" *ngIf="showUpdateSatellite">Actualizar</ion-button>
        <ion-button (click)="updatePlanet()" *ngIf="showUpdateButtons">Actualizar</ion-button>
        <ion-button color="danger" (click)="clearForm()" *ngIf="showUpdateButtons">No actualizar</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-list>
    <ion-item *ngFor="let p of planets">
      <ion-icon name="{{iconName}}" id="icon{{p.id}}" (click)="changeIcon(p.id)"></ion-icon>
      <label>
        <h2>{{p.name}}</h2>
        <p>{{p.composition}}</p>
        <ion-button block color="primary" (click)="deletePlanet(p.id)">eliminar</ion-button>
        <ion-button block color="primary" (click)="putInfoInForm(p)">actualizar</ion-button>


        <div *ngIf="satelliteVisibility[p.id]">
          <ion-item *ngFor="let sat of satellites[p.id]">
            <label *ngIf="sat.length != 0">
              <p> {{ sat.name }}</p>
              <p>{{ sat.composition }}</p>
              <ion-button block color="primary" (click)="deleteSatellite(sat.id)">eliminar</ion-button>
              <ion-button block color="primary" (click)="updateSatellite(sat)">actualizar</ion-button>
            </label>
          </ion-item>
        </div>

      </label>
    </ion-item>
  </ion-list>

</ion-content>